* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Muli,sans-serif;
    cursor: url(../../../public/img/cursor.png) 10 10, auto;
}

ul{
    list-style: none;
}

button{
    all: unset;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

