$bg-1: #fffffff2;
$bg-2: #ffffff26;
$bg-3: #fcfaf68c;
$bg-4: #fbf9f9;
$bg-5: #faf7f1;
$bg-6: #d8f0e3;
$bg-7: #c0e1cf;
$bg-8: #ef2853;
$bg-9: #ee2852;
$bg-10: #00000026;
$bg-11: #f3d0c7;
$bg-12: #e1c0b0;
$bg-li: #f0cebe;
$white: #ffffff;
$text-1: #f5d8ca;
$text-2: #f8d12d;
$text-3: #badac9;
$text-4: #a6a6a6;
$text-5: #f0817b;
$text-6: #eb6950;
$text-7: #878787;
$text-8: #6d6d6d;
$text-9: #80465f;
$black: #000000;
$fill-1: #f0817b;
$fill-2: #ee2852;
$border-1: #ebebeb;
$border-2: #f5d8ca;
$border-3: #c0e1cf;
$border-4: #e1c0b0;




